SPACESHIP_CHAR_SYMBOL="» "
SPACESHIP_EXIT_CODE_SHOW=true
SPACESHIP_EXEC_TIME_ELAPSED=0
SPACESHIP_BATTERY_SHOW=always
SPACESHIP_TIME_SHOW=true

SPACESHIP_PROMPT_ORDER=(
  user          # Username section
  host          # Hostname section
  dir           # Current directory section
  git           # Git section (git_branch + git_status)
  async         # Async jobs indicator
  package       # Package version
  dotnet        # .NET section
  php           # PHP section
  node          # Node.js section
  golang        # Go section
  rust          # Rust section
  exec_time     # Execution time
  line_sep      # Line break
  char          # Prompt character
)

SPACESHIP_RPROMPT_ORDER=(
  exit_code
  battery
  time
)